<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                &copy; @DateTime.Now.Year&nbsp;
                <a href="@Url.Content("/Home")">SWC Tracker</a>, All Rights Reserved ||
                <a target="_blank" class="text-primary" href="@Url.Content("~/Disclaimer")">Disclaimer</a>||
                <a target="_blank" class="text-primary" href="@Url.Content("~/Privacy")">Privacy Policy</a>||
                <a target="_blank" class="text-primary" href="@Url.Content("~/CookiePolicy")">Cookie Policy</a>||
                <a target="_blank" class="text-primary" href="@Url.Content("~/Terms/")">Terms and Conditions</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer-->