<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SWCTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SWCTracker.styles.css" asp-append-version="true" />
</head>
<body class="light-mode">
   @Html.Partial("_Head")

    <div class="page">
        <div class="page-main">
   @Html.Partial("_NavBar")
            <div class="app-content page-body">
                <div class="container">
            @RenderBody()
                </div>
            </div>
            <!-- end app-content-->
        </div>

        @Html.Partial("_Footer")

    </div>
    @Html.Partial("_FooterScripts")

@*
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SWCTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
