@model ComplaintViewModel

<div class="card">
           <div class="card-header">
                        <h4>Address</h4>
    </div>
    <div  id="div-postal-address" style="display:none"  class="card-body">
        @Html.HiddenFor(a => a.Employee!.Address!.Id)

        <div class="row">

            <div class="col">

                <div class="form-group row">
                    @Html.LabelFor(m => m.Employee!.Address!.Line1, htmlAttributes: ModelConstant.LabelRequired)
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Employee!.Address!.Line1,new { htmlAttributes = ModelConstant.FormControlInp })
                        @Html.ValidationMessageFor(m => m.Employee!.Address!.Line1)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.Employee!.Address!.Line2, htmlAttributes: ModelConstant.LabelStandard)
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Employee!.Address!.Line2,new { htmlAttributes = ModelConstant.FormControlInp })
                        @Html.ValidationMessageFor(m => m.Employee!.Address!.Line2)
                    </div>
                </div>

            </div> <!--div-col-md-6 -->

            <div class="col">

                <div class="form-group row">
                    @Html.LabelFor(m => m.Employee!.Address!.Suburb, htmlAttributes: ModelConstant.LabelRequired)
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Employee!.Address!.Suburb,new { htmlAttributes = ModelConstant.FormControlInp })
                        @Html.ValidationMessageFor(m => m.Employee!.Address!.Suburb)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.Employee!.Address!.Code, htmlAttributes: ModelConstant.LabelStandard)
                    <div class="col-md-8">
                        @Html.EditorFor(m => m.Employee!.Address!.Code, new { htmlAttributes = new { @class = "form-control input-sm number-only", @maxlength = 10 } })
                        @Html.ValidationMessageFor(m => m.Employee!.Address!.Code)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.Employee!.Address!.CityId, htmlAttributes: ModelConstant.LabelRequired)
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.Employee!.Address!.CityId, Model.Cities, htmlAttributes:  ModelConstant.FormControlInp)
                        @Html.ValidationMessageFor(m => m.Employee!.Address!.CityId)
                    </div>
                </div>

            </div>
        </div><!--div-col-md-6 -->

    </div> <!--div-col-md-12 -->
</div><!--Panel -->
