@model ComplaintViewModel
<div id="step-12" class="">
    <div class="card border-left-primary">
        <div class="card-header">
            <h3 class="card-title">Company Information</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">


                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.Name, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmploymentDetail.Name, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.Name)
                        </div>
                    </div><!--First Name-->

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.Contact, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmploymentDetail.Contact, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.Contact)
                        </div>
                    </div> <!--Surname-->
                </div>
                <div class="col-md-6">


                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.Email, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmploymentDetail.Email, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.Email)
                        </div>
                    </div>
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.CellPhone, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmploymentDetail.CellPhone, new { htmlAttributes = ModelConstant.FormControlInpContactNo })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.CellPhone)
                        </div>
                    </div>
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.WorkTelephone, htmlAttributes: ModelConstant.LabelStandard)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmploymentDetail.WorkTelephone, new { htmlAttributes = ModelConstant.FormControlInpContactNo })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.WorkTelephone)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-left-primary">
        <div class="card-header">
            <h3 class="card-title">Company Address</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.EmploymentDetail.Address.Line1, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.EmploymentDetail.Address.Line1, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(m => m.EmploymentDetail.Address.Line1)
                        </div>
                    </div>
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.EmploymentDetail.Address.Line2, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.EmploymentDetail.Address.Line2, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(m => m.EmploymentDetail.Address.Line2)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.EmploymentDetail.Address.Suburb, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.EmploymentDetail.Address.Suburb, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(m => m.EmploymentDetail.Address.Suburb)
                        </div>
                    </div>

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.EmploymentDetail.Address.Code, htmlAttributes: ModelConstant.LabelStandard)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.EmploymentDetail.Address.Code, new { htmlAttributes = new { @class = "form-control input-sm number-only", @maxlength = 10 } })
                            @Html.ValidationMessageFor(m => m.EmploymentDetail.Address.Code)
                        </div>
                    </div>

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.EmploymentDetail.Address.CityId, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.EmploymentDetail.Address.CityId, Model.NextOfKin.Address.Cities, htmlAttributes: ModelConstant.FormControlInp)
                            @Html.ValidationMessageFor(m => m.NextOfKin.Address.CityId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-left-primary">
        <div class="card-header">
            <h3 class="card-title">Employment Information</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">


                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.StartDate, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmploymentDetail.StartDate, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.StartDate)
                        </div>
                    </div><!--First Name-->

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.LeftDate, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmploymentDetail.LeftDate, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.LeftDate)
                        </div>
                    </div> <!--Surname-->
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.Salary, htmlAttributes: ModelConstant.LabelStandard)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmploymentDetail.Salary, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.Salary)
                        </div>
                    </div><!--Other Name-->
                    <div id="div-idnumber" class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.WorkingHours, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmploymentDetail.WorkingHours, new { htmlAttributes = new { @class = "form-control number-only input-sm", maxlength = 13 } })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.WorkingHours)
                        </div>
                    </div>
                    <div id="div-idnumber" class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.DaysPerWeek, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EmploymentDetail.DaysPerWeek, new { htmlAttributes = new { @class = "form-control number-only input-sm", maxlength = 13 } })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.DaysPerWeek)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">


                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.OccupationIds, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @{
                                var organisationList = Model.EmploymentDetail.Occupations.Select(a => a.Value2).Distinct();
                            }
                            <select class="form-control input-sm" data-val="true" id="OccupationIds" multiple="multiple" name="OccupationIds">

                                @foreach (var groupRecord in organisationList)
                                {
                                    <optgroup label="@groupRecord">
                                        @foreach (var option in Model.EmploymentDetail.Occupations.Where(a => a.Value2 == groupRecord))
                                        {
                                            string selected = string.Empty;

                                            if (Model.EmploymentDetail.OccupationIds != null && Model.EmploymentDetail.OccupationIds.Any())
                                            {
                                                if (Model.EmploymentDetail.OccupationIds.Contains(option.Value))
                                                {
                                                    option.Selected = true;
                                                }
                                            }

                                            if (option.Selected)
                                            {
                                                <option selected value="@option.Value">@option.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@option.Value">@option.Text</option>

                                            }
                                        }
                                    </optgroup>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.OccupationIds)
                        </div>
                    </div>
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.EmploymentDetail.Duties, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.EmploymentDetail.Duties, new { @class = "form-control input-sm", @rows = 6 })
                            @Html.ValidationMessageFor(model => model.EmploymentDetail.Duties)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>