@model ComplaintViewModel
<div id="step-10" class="">
    <div class="card border-left-primary">
        <div class="card-header">
            <h3 class="card-title">Personal Information</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">


                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.Employee.FirstName, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Employee.FirstName, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.Employee.FirstName)
                        </div>
                    </div><!--First Name-->

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.Employee.Surname, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Employee.Surname, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.Employee.Surname)
                        </div>
                    </div> <!--Surname-->
                    <div id="div-idnumber" class="form-group mb-4 row">
                        @Html.LabelFor(model => model.Employee.IDNumber, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Employee.IDNumber, new { htmlAttributes = new { @class = "form-control number-only input-sm", maxlength = 13 } })
                            @Html.ValidationMessageFor(model => model.Employee.IDNumber)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

              
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.Employee.Email, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Employee.Email, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.Employee.Email)
                        </div>
                    </div>
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.Employee.CellPhone, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Employee.CellPhone, new { htmlAttributes = ModelConstant.FormControlInpContactNo })
                            @Html.ValidationMessageFor(model => model.Employee.CellPhone)
                        </div>
                    </div>
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.Employee.Telephone, htmlAttributes: ModelConstant.LabelStandard)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Employee.Telephone, new { htmlAttributes = ModelConstant.FormControlInpContactNo })
                            @Html.ValidationMessageFor(model => model.Employee.Telephone)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-left-primary">
        <div class="card-header">
            <h3 class="card-title">Address</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.Employee.Address.Line1, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.Employee.Address.Line1, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(m => m.Employee.Address.Line1)
                        </div>
                    </div>
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.Employee.Address.Line2, htmlAttributes: ModelConstant.LabelStandard)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.Employee.Address.Line2, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(m => m.Employee.Address.Line2)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.Employee.Address.Suburb, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.Employee.Address.Suburb, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(m => m.Employee.Address.Suburb)
                        </div>
                    </div>

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.Employee.Address.Code, htmlAttributes: ModelConstant.LabelStandard)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.Employee.Address.Code, new { htmlAttributes = new { @class = "form-control input-sm number-only", @maxlength = 10 } })
                            @Html.ValidationMessageFor(m => m.Employee.Address.Code)
                        </div>
                    </div>

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.Employee.Address.CityId, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.Employee.Address.CityId, Model.Cities, htmlAttributes: ModelConstant.FormControlInp)
                            @Html.ValidationMessageFor(m => m.Employee.Address.CityId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-left-primary">
        <div class="card-header">
            <h3 class="card-title">Alternate Contact (representative/ relative or friend)</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">


                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.NextOfKin.FirstName, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NextOfKin.FirstName, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.NextOfKin.FirstName)
                        </div>
                    </div><!--First Name-->

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.NextOfKin.Surname, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NextOfKin.Surname, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.NextOfKin.Surname)
                        </div>
                    </div> <!--Surname-->
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.NextOfKin.Email, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NextOfKin.Email, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(model => model.NextOfKin.Email)
                        </div>
                    </div> <!--Surname-->
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(model => model.NextOfKin.Telephone, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NextOfKin.Telephone, new { htmlAttributes = ModelConstant.FormControlInpContactNo })
                            @Html.ValidationMessageFor(model => model.NextOfKin.Telephone)
                        </div>
                    </div> <!--Surname-->
                </div>
                <div class="col-md-6">

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.NextOfKin.Address.Line1, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.NextOfKin.Address.Line1, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(m => m.Employee.Address.Line1)
                        </div>
                    </div>
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.NextOfKin.Address.Line2, htmlAttributes: ModelConstant.LabelStandard)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.NextOfKin.Address.Line2, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(m => m.Employee.Address.Line2)
                        </div>
                    </div>
                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.NextOfKin.Address.Suburb, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.NextOfKin.Address.Suburb, new { htmlAttributes = ModelConstant.FormControlInp })
                            @Html.ValidationMessageFor(m => m.Employee.Address.Suburb)
                        </div>
                    </div>

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.NextOfKin.Address.Code, htmlAttributes: ModelConstant.LabelStandard)
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.NextOfKin.Address.Code, new { htmlAttributes = new { @class = "form-control input-sm number-only", @maxlength = 10 } })
                            @Html.ValidationMessageFor(m => m.Employee.Address.Code)
                        </div>
                    </div>

                    <div class="form-group mb-4 row">
                        @Html.LabelFor(m => m.NextOfKin.Address.CityId, htmlAttributes: ModelConstant.LabelRequired)
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.Employee.Address.CityId, Model.Cities, htmlAttributes: ModelConstant.FormControlInp)
                            @Html.ValidationMessageFor(m => m.NextOfKin.Address.CityId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>