@model IList<WageRateDetailResultSet>
@{

    var latestYear = Model.Select(a => a.FinYear).OrderByDescending(a => a).FirstOrDefault();
    var current = Model.Where(a => a.FinYear == latestYear).FirstOrDefault();
    var previous = Model.Where(a => a.FinYear != latestYear).OrderByDescending(a => a.FinYear).FirstOrDefault();
    var applicableYears = Model.Select(a => new
    {
        FinYear = a.FinYear,
        CPIIndex = a.CPIIndex,
        WageRate = a.PropertyValue
    }).GroupBy(a => new { a.CPIIndex, a.WageRate, a.FinYear })
            .Select(a => new
            {
                FinYear = a.Key.FinYear,
                CPIIndex = a.Key.CPIIndex,
                WageRate = a.Key.WageRate
            }).OrderBy(a=>a.FinYear);



    var wageAmountDifference = current.AveragePropertyValue - previous.AveragePropertyValue;
    var wageRateDifference = current.PropertyValue - previous.PropertyValue;
    var iteration = 1;
    var background = "bg-success";
}
<div class="row">
    <div class="col-xl-6 col-md-12 col-lg-12">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-7 col-md-12 col-lg-6">
                        <div class="d-block card-header border-0 text-center px-0">
                            <h3 class="text-center mb-4">SWC  <b>Tracker!</b></h3>
                            @*<small>You reached Page Views</small>*@
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12">
                                <h4 class="mb-0 fs-40 counter font-weight-bold">Construction Sector</h4>
                                <h6 class="mt-4 text-white-50">Sector Working Conditions Tracker</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-12 col-lg-6">
                        <img class="mx-auto text-center w-90 analytics-img" src="~/images/logo_1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <span class="fs-50 icon-muted"><i class="si si-chart icon-dropshadow-info text-info"></i></span>
                <p class=" mb-1">Wage Rate</p>
                <h4 class="mb-1 fs-40 font-weight-bold">@current.PropertyValue %</h4>
                <small class="mb-1 text-muted">
                    @if (wageRateDifference < 0)
                    {
                        <small class="text-danger"><i class="fa fa-caret-down  me-1"></i> @(wageRateDifference)%</small>
                    }
                    else
                    {
                        <small class="text-success"><i class="fa fa-caret-up  me-1"></i> @(wageRateDifference * -1)%</small>
                    }

                    vs @previous.PropertyValue % last year
                </small>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <span class="fs-50 icon-muted"><i class="si si-wallet icon-dropshadow-danger text-danger"></i></span>
                <p class=" mb-1 ">Average Wage</p>
                <h2 class="mb-1 fs-40 font-weight-bold">@current.AveragePropertyValue.ToRandValue() /hr</h2>
                <small class="mb-1 text-muted">
                    @if (wageAmountDifference <0)
                    {
                        <small class="text-danger"><i class="fa fa-caret-down  me-1"></i> @(wageAmountDifference)</small>
                    }
                    else
                    {
                        <small class="text-success"><i class="fa fa-caret-up  me-1"></i> @(wageAmountDifference * -1)</small>
                    }

                    vs @previous.AveragePropertyValue.ToRandValue() last year
                    </small>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Wage Rate vs CPI Index</h3>
                        
                    </div>
                    <div class="card-body">
                        <div id="echart1" class="h-300"></div>
                        <div class="row mt-5">
                            <div class="col text-center">
                                <span class="text-muted float-start"><div class="w-3 h-3 bg-secondary br-3 me-1 mt-1 float-start"></div> Wage Rate</span>
                            </div>
                            <div class="col text-center">
                                <span class="text-muted float-end"><div class="w-3 h-3 bg-primary br-3 me-1 mt-1 float-start"></div> CPI Index</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-12 col-lg-3">
                <div class="card overflow-hidden">
                    <div class="card-header mb-4">
                        <h3 class="card-title">Wage Rate vs CPI Index</h3>
                    </div>
                    <div class="countryscroll grid-wrapper invoice-table-responsive ps ps--active-y">
                        <table class="table card-table table-responsive small">
                            <thed>
                                <tr>
                                    <th class="col-1">Year</th>
                                    <th>Rate</th>
                                    <th class="col-1">CPI <br /> Index</th>
                                    <th></th>
                                </tr>
                            </thed>
                            <tbody>
                                @foreach (var item in applicableYears)
                                {
                                    var rateChange = item.WageRate - item.CPIIndex;
                                    <tr>
                                        <td>

                                            <input type="hidden" class="RateByYear" name="RateByYear" data-finyear="@item.FinYear" data-cpiindex="@item.CPIIndex" data-wagerate="@item.WageRate" />

                                            @item.FinYear
                                            </td>
                                        <td>
                                            @item.WageRate %
                                        </td>
                                        <td><span class="">@item.CPIIndex %</span></td>
                                        <td>
                                            @if (rateChange >= 0)
                                        {
                                            <small class="mb-1 text-muted"><small class="text-success"><i class="fa fa-caret-up  me-1"></i> @rateChange %</small></small>
                                        }
                                        else
                                        {
                                                <small class="mb-1 text-muted"><small class="text-danger"><i class="fa fa-caret-down  me-1"></i>@rateChange %</small></small>
                                        }
                                        </td>
                                       
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="javascript:void(0)" class="btn btn-lg btn-block btn-white">View All</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12">
                @{
                    @await Component.InvokeAsync("CalculatorPart", new { id =1 })
                }

            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-8 col-lg-12 col-md-12">
        @Html.Partial("_Grade")
    </div>
    <div class="col-xl-4 col-md-12 col-lg-12">
        @Html.Partial("_DataSource")
        <div class="row">
            <div class="col-xl-12 col-md-12 col-lg-12">
                <partial name="_FAQ" model="@Model" />
            </div>
        </div>
    </div>
</div>
<div class="row row-deck">
    <div class="col-xl-8 col-lg-7">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Latest Wage rates By Occupation <span class="badge bg-primary rounded-pill">(Year: @latestYear)</span></div>
        </div>
        <div class="card-body grid-wrapper">
            <div class="table-responsive invoice-table-responsive">
                <table id="table-results" class="table card-table table-vcenter mb-0 border">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th>Group</th>
                            <th>Occupation</th>
                            <th class="text-right">% increase</th>
                            <th class=text-right>Hourly Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model.Where(a => a.FinYear == latestYear).OrderBy(a => a.Ordinal).ThenBy(a => a.OccupationGroup).ThenBy(a => a.Occupation).ThenBy(a => a.Amount))
                        {
                            if(iteration !=record.Ordinal)
                            {
                                background = background == "bg-primary" ? "bg-success" : "bg-primary";
                                    }


                            <tr class="">
                                <td class="font-weight-semibold">
                                    @record.Ordinal
                                </td>
                                <td><strong>@record.OccupationGroup</strong></td>
                                <td><strong>@record.Occupation</strong></td>
                                <td class="@background text-right text-white"><strong>@record.PropertyValue %</strong></td>
                                <td class="@background text-right text-white">@record.Amount.ToRandValue()</td>
                            </tr>
                            iteration = record.Ordinal??0;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-5">
        @Html.Partial("_About")
    </div>
</div>